In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext

import findspark
findspark.init()

In [2]:
import os
for item in sorted(os.environ.items()): print(item)

('Apple_PubSub_Socket_Render', '/private/tmp/com.apple.launchd.zsnS8QhvIw/Render')
('CLICOLOR', '1')
('GIT_PAGER', 'cat')
('HOME', '/Users/williste')
('JPY_PARENT_PID', '736')
('LC_CTYPE', 'UTF-8')
('LOGNAME', 'williste')
('MPLBACKEND', 'module://ipykernel.pylab.backend_inline')
('PAGER', 'cat')
('PATH', '/Users/williste/anaconda3/bin:/Applications/anaconda3/bin:/Library/Frameworks/Python.framework/Versions/3.6/bin:/anaconda3/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin')
('PWD', '/Users/williste')
('PYSPARK_PYTHON', '/Users/williste/anaconda3/bin/python')
('SECURITYSESSIONID', '186a9')
('SHELL', '/bin/bash')
('SHLVL', '2')
('SPARK_HOME', '/usr/local/opt/apache-spark/libexec')
('SSH_AUTH_SOCK', '/private/tmp/com.apple.launchd.DUE9ZWU1zW/Listeners')
('TERM', 'xterm-color')
('TERM_PROGRAM', 'Apple_Terminal')
('TERM_PROGRAM_VERSION', '404')
('TERM_SESSION_ID', '65933B53-CA98-4610-BEB8-AD245DCE3DA5')
('TMPDIR', '/var/folders/dx/60t98k0s1118g99rt_ktqb4w0000gn/T/')
('USER', 'williste')
('XPC_FLAGS', '0x0')
('XPC_SERVICE_NAME', '0')
('_', '/Users/williste/anaconda3/bin/jupyter-notebook')

In [3]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext

import findspark
findspark.init()

#SparkContext.stop(sc)

conf = SparkConf().setMaster("local[100]").setAppName("Spark_4") 
sc = SparkContext(conf=conf)

#SparkContext.setSystemProperty('spark.driver.maxResultSize', '8g') 
#SparkContext.setSystemProperty('spark.executor.memory', '2g')
#SparkContext.setSystemProperty('spark.executor.cores', '4')
#SparkContext.setSystemProperty('spark.memory.fraction', '0.6')
conf.get("spark.app.name")

sc._conf.getAll()
for item in sorted(sc._conf.getAll()): print(item)
    
print(sc.version)

('spark.app.id', 'local-1530277493629')
('spark.app.name', 'Spark_4')
('spark.driver.host', '172.20.10.3')
('spark.driver.port', '52570')
('spark.executor.id', 'driver')
('spark.master', 'local[100]')
('spark.rdd.compress', 'True')
('spark.serializer.objectStreamReset', '100')
('spark.submit.deployMode', 'client')
('spark.ui.showConsoleProgress', 'true')
2.3.1

In [4]:
sqlContext = SQLContext(sc)

df = sqlContext.read.format("csv").option("header", "true").option("inferSchema", "true").load("/Users/williste/Downloads/ny-parking-violations-issued/parking-violations-issued-fiscal-year-2016.csv")

In [12]:
d

+--------------+--------+------------------+----------+-------------------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+---------------------+---------------------------------+-----------------+------------------------+
|Summons Number|Plate ID|Registration State|Plate Type|         Issue Date|Violation Code|Vehicle Body Type|Vehicle Make|Issuing Agency|Street Code1|Street Code2|Street Code3|Vehicle Expiration Date|Violation Location|Violation Precinct|Issuer Precinct|Issuer Code|Issuer Command|Issuer Squad|Violation Time|Time First Observed|Violation County|Violation In Front Of Or Opposite|House Number|      Street Name|Intersecting Street|Date First Observed|Law Section|Sub Division|Violation Legal Code|Days Parking In Effect    |From Hours In Effect|To Hours In Effect|Vehicle Color|Unregistered Vehicle?|Vehicle Year|Meter Number|Feet From Curb|Violation Post Code|Violation Description|No Standing or Stopping Violation|Hydrant Violation|Double Parking Violation|
+--------------+--------+------------------+----------+-------------------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+---------------------+---------------------------------+-----------------+------------------------+
|    1363745270| GGY6450|                99|       PAS|2015-07-09 00:00:00|            46|              SDN|       HONDA|             P|           0|       40404|       40404|            2.0170602E7|                74|                74|            301|     358160|          T301|        0000|         1037A|               null|               K|                                F|         142|     MACDOUNGH ST|               null|                  0|        408|          D1|                null|                   BBBBBBB|                 ALL|               ALL|        WHITE|                    0|        2010|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745293|  KXD355|                SC|       PAS|2015-07-09 00:00:00|            21|             SUBN|       CHEVR|             P|       55730|       67030|       58730|            2.0160288E7|                79|                79|            301|     358160|          T301|        0000|         1206P|               null|               K|                                F|         331|    LEXINGTON AVE|               null|                  0|        408|          F1|                null|                   YBBYBBB|               1100A|             1230P|          RED|                    0|           0|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745438| JCK7576|                PA|       PAS|2015-07-09 00:00:00|            21|              SDN|       ME/BE|             P|       42730|       26730|       26830|                    0.0|                79|                79|              0|     358114|          TEBN|        0000|         0820A|               null|               K|                                F|        1087|        FULTON ST|               null|                  0|        408|          D1|                null|                   YBBYBBB|               0800A|             0930A|        WHITE|                    0|           0|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745475| GYK7658|                NY|       OMS|2015-07-09 00:00:00|            21|             SUBN|       NISSA|             P|       58130|       18630|       67030|                    0.0|                79|                79|            301|     358114|          T301|        0000|         0918A|               null|               K|                                F|         207|       MADISON ST|               null|                  0|        408|          D1|                null|                   YBBYBBB|               0900A|              1030|           BK|                    0|        2015|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745487| GMT8141|                NY|       PAS|2015-07-09 00:00:00|            21|              P-U|       LINCO|             P|       58130|       67030|       58730|            2.0160206E7|                79|                79|            301|     358114|          T301|        0000|         0925A|               null|               K|                                F|         237|       MADISON ST|               null|                  0|        408|          D1|                null|                   YBBYBBB|               0900A|             1030A|          BLK|                    0|        2006|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745517| GYK3760|                NY|       PAS|2015-07-09 00:00:00|            21|             SUBN|       HONDA|             P|       46730|       58730|       85730|            2.0160709E7|                79|                79|            301|     358114|          T301|        0000|         0948A|               null|               K|                                F|         201|        HALSEY ST|               null|                  0|        408|          D1|                null|                   YBBYBBB|               0900A|             1030A|        OTHER|                    0|        2006|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745529| GYK3760|                NY|       PAS|2015-07-09 00:00:00|            75|             SUBN|       HONDA|             P|       46730|       58730|       85730|            2.0160709E7|              null|                 0|            301|     358114|          T301|        0000|         0949A|               null|               K|                                F|         201|        HALSEY ST|               null|                  0|        408|          D1|                null|                   BBBBBBB|                 ALL|               ALL|        OTHER|                    0|        2006|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745542| GWL9925|                NY|       PAS|2015-07-09 00:00:00|            71|              SDN|       TOYOT|             P|       85730|       59530|       32030|            2.0170602E7|                79|                79|            301|     358114|          T301|        0000|         1043A|               null|               K|                                O|         482|     TOMPKINS AVE|               null|                  0|        408|          D1|                null|                   BBBBBBB|                 ALL|               ALL|        OTHER|                    0|        2006|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745554| GPH9963|                PA|       PAS|2015-07-09 00:00:00|            21|              SDN|       MITSU|             P|       55730|       67030|       58730|            2.0150288E7|                79|                79|            301|     358114|          T301|        0000|         1204P|               null|               K|                                F|         317|    LEXINGTON AVE|               null|                  0|        408|          J6|                null|                   YBBYBBB|               1100A|             1230P|        OTHER|                    0|           0|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745578| GWF8627|                NY|       PAS|2015-07-09 00:00:00|            21|             SUBN|       LINCO|             P|       31530|       58730|       85730|            2.0170407E7|                79|                79|            301|     358114|          T301|        0000|         1227P|               null|               K|                                F|         739|       DEKALB AVE|               null|                  0|        408|          D1|                null|                   YBBYBBB|               1200P|             0130P|        OTHER|                    0|        2002|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745657|  VJA95M|                NJ|       PAS|2015-07-09 00:00:00|            21|             SUBN|        null|             P|       51930|       42030|       58330|                    0.0|              null|                 0|            301|     359590|          T301|        0000|         0851A|               null|               K|                                O|          84|         INDIA ST|               null|                  0|        408|          D1|                null|                   YBBYBBB|               0830A|             1000A|           WH|                    0|           0|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745670| GVA7104|                NY|       PAS|2015-07-09 00:00:00|            41|              SDN|       VOLKS|             P|       45830|       42030|       58330|            2.0160421E7|                94|                94|            301|     359590|          T301|        0000|         0905A|               null|            null|                                F|         125|         GREEN ST|               null|                  0|        408|        null|                null|                   YBBYBBB|               0830A|             1000A|          BLK|                    0|        2014|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745712| GYA9126|                NY|       PAS|2015-07-09 00:00:00|            70|             SUBN|       TOYOT|             P|       46330|       60430|       24330|            2.0150526E7|                94|                94|            301|     359590|          T301|        0000|         0954A|               null|               K|                                O|         181|      GUERNSEY ST|               null|                  0|        408|          J6|                null|                   BBBBBBB|                 ALL|               ALL|           BL|                    0|        2012|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745724|  WYW78A|                NJ|       PAS|2015-07-09 00:00:00|            21|             SUBN|       SUBAR|             P|       55430|       63630|       65730|                    0.0|                94|                94|            301|     359590|          T301|        0000|         1012A|               null|               K|                                F|         595|       LEONARD ST|               null|                  0|        408|          J3|                null|                   YBBYBBB|               0930A|             1100A|          BLK|                    0|           0|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745736| GXL3452|                NY|       PAS|2015-07-09 00:00:00|            21|              SDN|       TOYOT|             P|       54010|       58330|       59640|             2.016093E7|                94|                94|            301|     359590|          T301|        0000|         1136A|               null|               K|                                O|         174|          KENT ST|               null|                  0|        408|          D1|                null|                   YBBYBBB|               1130A|             0100P|          BLK|                    0|        2015|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745748|  Z53ESE|                NJ|       PAS|2015-07-09 00:00:00|            21|             SUBN|       LINCO|             P|       54010|       58330|       59640|                    0.0|                94|                94|            301|     359590|          T301|        0000|         1141A|               null|               K|                                F|         195|          KENT ST|               null|                  0|        408|          D1|                null|                   YBBYBBB|               1130A|             0100P|          BLK|                    0|           0|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745750| GMH6888|                NY|       PAS|2015-07-09 00:00:00|            21|             SUBN|         BMW|             P|       54010|       58330|       59640|                    0.0|                94|                94|            301|     359590|          T301|        0000|         1145A|               null|            null|                                F|         213|          KENT ST|               null|                  0|        408|          D1|                null|                   YBBYBBB|               1130A|             0100P|          BLK|                    0|           0|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745761| GRF4392|                NY|       PAS|2015-07-09 00:00:00|            21|             SUBN|        FORD|             P|           0|           0|           0|             2.015093E7|                94|                94|            301|     359590|          T301|        0000|         1148A|               null|               K|                             null|        null|W/ MCGUINESS BLVD|    5FT N/O KENT ST|                  0|        408|          D1|                null|                   YBBYBBB|               1130A|             0100P|          BLK|                    0|        2015|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745864| GYX2853|                NY|       PAS|2015-07-09 00:00:00|            21|             TWOD|       HONDA|             P|       81630|       69230|       63030|            2.0170524E7|                88|                88|            301|     358668|          T301|        0000|         0900A|               null|               K|                                O|          77|       STEUBEN ST|               null|                  0|        408|          D1|                null|                   BBBYBBB|               0830A|             1000A|           WH|                    0|        2015|           -|             0|               null|                 null|                             null|             null|                    null|
|    1363745890| GRE9023|                NY|       PAS|2015-07-09 00:00:00|            21|              SDN|       TOYOT|             P|       39330|       63030|       93230|            2.0160801E7|                88|                88|            301|     358668|          T301|        0000|         0932A|               null|               K|                                O|         139|       EMERSON PL|               null|                  0|        408|          D1|                null|                   BBBYBBB|               0830A|             1000A|         GRAY|                    0|        2010|           -|             0|               null|                 null|                             null|             null|                    null|
+--------------+--------+------------------+----------+-------------------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+---------------------+---------------------------------+-----------------+------------------------+
only showing top 20 rows

In [5]:
df_samp = df.sample(False, 0.0001, 42)
df_samp.count()

1089

In [6]:
df_samp.groupBy('Issue Date').count().show()
# Fiskaljahr

+-------------------+-----+
|         Issue Date|count|
+-------------------+-----+
|2017-08-16 00:00:00|    1|
|2015-06-22 00:00:00|    1|
|2016-02-01 00:00:00|    4|
|2016-03-19 00:00:00|    2|
|2015-09-04 00:00:00|    6|
|2016-01-28 00:00:00|    7|
|2016-04-13 00:00:00|    2|
|2015-07-26 00:00:00|    2|
|2015-09-20 00:00:00|    3|
|2015-11-23 00:00:00|    6|
|2015-11-25 00:00:00|    2|
|2016-02-17 00:00:00|    1|
|2016-05-19 00:00:00|    2|
|2015-11-10 00:00:00|    6|
|2015-12-27 00:00:00|    2|
|2016-01-08 00:00:00|    3|
|2016-04-07 00:00:00|    4|
|2015-09-18 00:00:00|    6|
|2016-05-03 00:00:00|    5|
|2015-09-30 00:00:00|    6|
+-------------------+-----+
only showing top 20 rows

In [123]:
df_samp = df_samp.withColumn('am_pm',df_samp['Violation Time'].substr(5, 1))
df_samp = df_samp.withColumn('time',df_samp['Violation Time'].substr(1, 4))
#df_samp.show()
df_samp.groupBy('am_pm').count().show()
df_samp.groupBy('time').count().show()

+-----+-----+
|am_pm|count|
+-----+-----+
|    A|  559|
|    P|  530|
+-----+-----+

+----+-----+
|time|count|
+----+-----+
|0955|    2|
|0851|    5|
|1159|    3|
|0905|    5|
|0833|    4|
|1241|    1|
|0132|    3|
|0452|    1|
|0558|    3|
|0709|    3|
|0836|    5|
|0724|    1|
|0126|    1|
|0319|    2|
|0539|    1|
|0312|    2|
|1043|    2|
|0153|    3|
|0314|    2|
|0545|    1|
+----+-----+
only showing top 20 rows

In [26]:
# Variables and Formats
# df_samp.__dict__
# df_samp.columns
# df_samp.schema.names
# df_samp.printSchema()
# Issue Date: timestamp (nullable = true)

from pyspark.sql.functions import date_format
df_samp.select('Issue Date', 
               date_format('Issue Date', 'u').alias('dow_number'), 
               date_format('Issue Date', 'E').alias('dow_string')).show()

+-------------------+----------+----------+
|         Issue Date|dow_number|dow_string|
+-------------------+----------+----------+
|2015-07-23 00:00:00|         4|       Thu|
|2015-06-28 00:00:00|         7|       Sun|
|2015-06-16 00:00:00|         2|       Tue|
|2015-06-12 00:00:00|         5|       Fri|
|2015-07-08 00:00:00|         3|       Wed|
|2015-07-13 00:00:00|         1|       Mon|
|2015-07-21 00:00:00|         2|       Tue|
|2015-07-24 00:00:00|         5|       Fri|
|2015-06-17 00:00:00|         3|       Wed|
|2015-06-24 00:00:00|         3|       Wed|
|2015-07-02 00:00:00|         4|       Thu|
|2015-07-17 00:00:00|         5|       Fri|
|2015-07-28 00:00:00|         2|       Tue|
|2015-07-27 00:00:00|         1|       Mon|
|2015-07-06 00:00:00|         1|       Mon|
|2015-07-17 00:00:00|         5|       Fri|
|2015-07-14 00:00:00|         2|       Tue|
|2015-07-09 00:00:00|         4|       Thu|
|2015-07-05 00:00:00|         7|       Sun|
|2015-06-27 00:00:00|         6|       Sat|
+-------------------+----------+----------+
only showing top 20 rows

In [101]:
import datetime
import calendar
from pyspark.sql.functions import udf

sqlContext.registerFunction("day", lambda x: x.day)
sqlContext.registerDataFrameAsTable(df_samp, "df_samp")
sqlContext.sql("""SELECT `Issue Date`,day(`Issue Date`) FROM df_samp""").show()

+-------------------+---------------+
|         Issue Date|day(Issue Date)|
+-------------------+---------------+
|2015-07-23 00:00:00|             23|
|2015-06-28 00:00:00|             28|
|2015-06-16 00:00:00|             16|
|2015-06-12 00:00:00|             12|
|2015-07-08 00:00:00|              8|
|2015-07-13 00:00:00|             13|
|2015-07-21 00:00:00|             21|
|2015-07-24 00:00:00|             24|
|2015-06-17 00:00:00|             17|
|2015-06-24 00:00:00|             24|
|2015-07-02 00:00:00|              2|
|2015-07-17 00:00:00|             17|
|2015-07-28 00:00:00|             28|
|2015-07-27 00:00:00|             27|
|2015-07-06 00:00:00|              6|
|2015-07-17 00:00:00|             17|
|2015-07-14 00:00:00|             14|
|2015-07-09 00:00:00|              9|
|2015-07-05 00:00:00|              5|
|2015-06-27 00:00:00|             27|
+-------------------+---------------+
only showing top 20 rows

In [6]:
# UDF registered Function in SQL Context
import datetime
import calendar
from pyspark.sql.functions import date_format
from pyspark.sql.functions import udf

def get_weekday(date):
    import datetime
    import calendar  
    weekday = datetime.date(date.year, date.month, date.day)
    return calendar.day_name[weekday.weekday()]
sqlContext.udf.register('get_weekday', get_weekday)

#Â Test auf Sample
#sqlContext.registerDataFrameAsTable(df_samp, "df_samp")
#sqlContext.sql("""SELECT `Issue Date`, get_weekday(`Issue Date`) as day FROM df_samp""").show()

sqlContext.registerFunction("year", lambda x: x.year)
sqlContext.registerFunction("day", lambda x: x.day)

In [8]:
sqlContext.registerDataFrameAsTable(df, "df")

df_2 = sqlContext.sql("""
                 SELECT get_weekday(`Issue Date`) as day,
                        year(`Issue Date`) as year      
                   FROM df
                      """)

df_2.show()

+--------+----+
|     day|year|
+--------+----+
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
|Thursday|2015|
+--------+----+
only showing top 20 rows

In [11]:
sqlContext.registerDataFrameAsTable(df_2, "df_2")

#df_2.createOrReplaceTempView("df_view_2")

df_3 = sqlContext.sql("""
                 SELECT day,
                        count(*) as cnt      
                   FROM df_2
                  WHERE  year = 2016
                  GROUP BY day
                     """)

df_3.show()

+---------+------+
|      day|   cnt|
+---------+------+
|Wednesday|831311|
|  Tuesday|893608|
|   Friday|820128|
| Thursday|912995|
| Saturday|471412|
|   Monday|762527|
|   Sunday|180640|
+---------+------+

In [62]:
s1pd = df_samp.toPandas()

In [16]:
print(s1pd)

      Summons Number  Plate ID Registration State Plate Type Issue Date  \
0         1379501222  T649390C                 NY        999 2015-07-23
1         1381851393   GSD4374                 NY        PAS 2015-06-28
2         1381938322   GLH9566                 NY        PAS 2015-06-16
3         1385380100    MH6306                 NY        COM 2015-06-12
4         4608543234   GWF4448                 NY        PAS 2015-07-08
5         4608652953    T14ECJ                 NJ        PAS 2015-07-13
6         4608734568  T636030C                 NY        OMT 2015-07-21
7         4608838003  T410855C                 NY        OMT 2015-07-24
8         5086796702   GSZ8247                 NY        PAS 2015-06-17
9         5086938521    XZ696T                 NJ        PAS 2015-06-24
10        7000682176   GFE5229                 NY        PAS 2015-07-02
11        7085142662   GMV7291                 NY        PAS 2015-07-17
12        7118382991   GVK9785                 NY        PAS 2015-07-28
13        7155565945   JVP3128                 PA        PAS 2015-07-27
14        7152756363    GYJ291                 NY        PAS 2015-07-06
15        7400735986    XAGM99                 NJ        PAS 2015-07-17
16        7492465312   GXG4590                 NY        PAS 2015-07-14
17        7508762587   GHN7912                 NY        PAS 2015-07-09
18        7537510088   GGF3690                 NY        PAS 2015-07-05
19        7578320531    QTV533                 NY        PAS 2015-06-27
20        7701991189   GXM6278                 NY        OMS 2015-07-22
21        7731436044   GXF8132                 NY        PAS 2015-06-27
22        7660183801   GHN5862                 NY        PAS 2015-07-07
23        7713999012   GJD3942                 NY        PAS 2015-07-08
24        7761181925   GXT6345                 NY        PAS 2015-07-12
25        7785973441   GEW2402                 NY        PAS 2015-07-22
26        7904528230   GHT3408                 NY        PAS 2015-07-06
27        7809422078   GJT2589                 NY        PAS 2015-07-07
28        7926574041    JHU544                 SC        PAS 2015-07-10
29        8004842288   GYK6692                 NY        PAS 2015-07-28
...              ...       ...                ...        ...        ...
1059      7811572977   FEE1370                 NY        PAS 2016-06-21
1060      7929561197   17568MG                 NY        COM 2016-06-16
1061      7921310850    AP874S                 NJ        PAS 2016-06-02
1062      7813786324   98030MD                 NY        COM 2016-06-15
1063      7924508340   95427MD                 NY        COM 2016-06-06
1064      7913797903   19595CD                 MD        PAS 2016-05-28
1065      8038174240    CTKH05                 FL        PAS 2016-06-12
1066      8001197694   17440JE                 NY        COM 2016-06-22
1067      8037332755   DGW5014                 NY        PAS 2016-05-31
1068      8036694098   FPD8537                 NY        PAS 2016-06-18
1069      8039332084    ZLD64T                 NJ        PAS 2016-06-18
1070      8054532660   79393JZ                 NY        COM 2016-06-23
1071      8068558100   11689JY                 NY        COM 2016-06-02
1072      8122507967   20986ME                 NY        COM 2016-06-13
1073      8135560990   WNA4368                 VA        PAS 2016-06-14
1074      8168511128    C65FCT                 NJ        PAS 2016-06-10
1075      8195025559     1W11B                 NY        OMT 2016-06-07
1076      8167032206   63338MB                 NY        COM 2016-06-09
1077      8234541419  T678968C                 NY        OMT 2016-06-08
1078      8259019619   FZE6234                 NY        PAS 2016-06-01
1079      8245527725    XU8877                 NY        COM 2016-05-31
1080      8308023228    3ANWS5                 CT        PAS 2016-06-21
1081      8278017359   DGK2289                 NY        PAS 2016-06-13
1082      8276015670    3LF228                 MA        PAS 2016-06-24
1083      8347506980   DHJ8591                 NY        PAS 2016-06-27
1084      8335008395    SLK81X                 NJ        PAS 2016-06-09
1085      8315510198   2119795                 ID        PAS 2016-06-15
1086      8362503889    XEAW30                 NJ        PAS 2016-06-24
1087      8367500921   16220TC                 NY        TRC 2016-06-13
1088      8398501121   DTW8158                 PA        PAS 2016-06-22

      Violation Code Vehicle Body Type Vehicle Make Issuing Agency  \
0                 46               SUV        TOYOT              P
1                 20               SDN        VOLKS              P
2                 98               SDN        LEXUS              P
3                 45               VAN          GMC              P
4                 36              CONV          BMW              V
5                 36              4 DR         FORD              V
6                 36              4DSD        TOYOT              V
7                 36              4DSD        TOYOT              V
8                  7              4DSD        HONDA              V
9                  7               TRK          HIN              V
10                40              SUBN        LEXUS              T
11                37              SUBN        TOYOT              T
12                14              PICK        CHEVR              T
13                14              4DSD        CHRYS              T
14                16              STAK        DODGE              T
15                38              DELV        INTER              T
16                20              4DSD        NISSA              T
17                21              4DSD        ACURA              T
18                71              SUBN         FORD              T
19                19              4DSD        HYUND              T
20                21              4DSD        HYUND              T
21                14              SUBN         FORD              T
22                21              4DSD        TOYOT              T
23                21              2DSD          BMW              T
24                73              BOAT          KIA              T
25                38              4DSD        ME/BE              T
26                31              SUBN        HONDA              T
27                38              SUBN        TOYOT              T
28                37              2DSD        CHEVR              T
29                38              SUBN        HONDA              T
...              ...               ...          ...            ...
1059              19              SUBN        TOYOT              T
1060              20              STAK         MI/F              T
1061              14              DELV         HINO              T
1062              20               VAN        DODGE              T
1063              17               VAN        ISUZU              T
1064              40              SUBN        HONDA              T
1065              14              SUBN          KIA              T
1066              14              DELV        INTER              T
1067              21              4DSD        DODGE              T
1068              38              SUBN        TOYOT              T
1069              38               VAN        FRUEH              T
1070              46              PICK        CHEVR              T
1071              14               VAN        CHEVR              T
1072              69               VAN         FORD              T
1073              40              SUBN        DODGE              T
1074              46              4DSD        NISSA              T
1075              20              TAXI        TOYOT              T
1076              70               VAN         FORD              T
1077              70              4DSD        TOYOT              T
1078              37              4DSD        TOYOT              T
1079              16               VAN        NISSA              T
1080              19              4DSD        INFIN              T
1081              20              4DSD        ACURA              T
1082              21              SUBN        ME/BE              T
1083              70              4DSD        LEXUS              T
1084              48              BOAT        ME/BE              T
1085              84              DELV        FRUEH              T
1086              69               VAN         FORD              T
1087              10              TRAC        PETER              T
1088              38              SUBN         FORD              T

      Street Code1  ...   Unregistered Vehicle?  Vehicle Year  Meter Number  \
0            23520  ...                       0          2013             -
1             5580  ...                       0          2015             -
2            35580  ...                       0          2004             -
3            35490  ...                       0          1992             -
4                0  ...                    None          2008          None
5                0  ...                    None          2014          None
6                0  ...                    None          2012          None
7                0  ...                    None          2012          None
8                0  ...                    None          2009          None
9                0  ...                    None          2012          None
10            6440  ...                    None          2011          None
11           67530  ...                    None          2014      305-3032
12            5580  ...                    None          2015          None
13           34710  ...                    None             0          None
14           24890  ...                    None          2012          None
15           77150  ...                    None             0          None
16           48360  ...                    None          2005          None
17           12020  ...                    None             0          None
18           75730  ...                    None          2001          None
19           54580  ...                    None          2015          None
20           69330  ...                    None          2015          None
21           39350  ...                    None          2015          None
22           35930  ...                    None          2007          None
23           35130  ...                    None          2011          None
24           18140  ...                    None          2015          None
25               0  ...                    None          1996          None
26           34490  ...                    None          2013          None
27           26990  ...                    None          2013          None
28           36250  ...                    None             0      150-3031
29            9540  ...                    None          2005          None
...            ...  ...                     ...           ...           ...
1059         11710  ...                    None          2005          None
1060         20190  ...                    None          2008          None
1061         34450  ...                    None             0          None
1062         18390  ...                    None          2014          None
1063         17810  ...                    None          2013          None
1064         30620  ...                    None             0          None
1065         13460  ...                    None             0          None
1066         24050  ...                    None          1992          None
1067         36330  ...                    None          2005          None
1068          5780  ...                    None          2011          None
1069         17490  ...                    None             0          None
1070         18570  ...                    None          2010          None
1071         36410  ...                    None          2007          None
1072         34390  ...                    None          2013          None
1073         63820  ...                    None             0          None
1074         30930  ...                    None             0          None
1075          8440  ...                    None          2015          None
1076          9230  ...                    None          2012          None
1077         22440  ...                    None          2007          None
1078         20390  ...                    None          2005      444-3033
1079         24750  ...                    None          2014          None
1080         41920  ...                    None             0          None
1081         23230  ...                    None          2012          None
1082         36010  ...                    None             0          None
1083          6680  ...                    None             0          None
1084         31190  ...                    None             0          None
1085         12110  ...                    None             0          None
1086         34430  ...                    None             0          None
1087         10810  ...                    None          2013          None
1088          7230  ...                    None             0          None

      Feet From Curb  Violation Post Code           Violation Description  \
0                  0                 None                            None
1                  0                 None                            None
2                  0                 None                            None
3                  0                 None                            None
4                  0                 None  PHTO SCHOOL ZN SPEED VIOLATION
5                  0                 None  PHTO SCHOOL ZN SPEED VIOLATION
6                  0                 None  PHTO SCHOOL ZN SPEED VIOLATION
7                  0                 None  PHTO SCHOOL ZN SPEED VIOLATION
8                  0                 None    FAILURE TO STOP AT RED LIGHT
9                  0                 None    FAILURE TO STOP AT RED LIGHT
10                 6                 J 41                 40-Fire Hydrant
11                 0                 03 3           37-Expired Muni Meter
12                 0                 21 3                  14-No Standing
13                 0                 42 6                  14-No Standing
14                 0                 B 77    16A-No Std (Com Veh) Non-COM
15                 0                 18 2  38-Failure to Display Muni Rec
16                 0                 03 6        20A-No Parking (Non-COM)
17                 0                 48 2    21-No Parking (street clean)
18                 0                 SPCL  71A-Insp Sticker Expired (NYS)
19                 0                 07 4          19-No Stand (bus stop)
20                 0                 59 3    21-No Parking (street clean)
21                 0                 A 31                  14-No Standing
22                 0                  CC1    21-No Parking (street clean)
23                 0                 40 3    21-No Parking (street clean)
24                 0                 04 4        73A-Reg Stkr Counterfeit
25                 0                 40 4  38-Failure to Display Muni Rec
26                 0                 01 6    31-No Stand (Com. Mtr. Zone)
27                 0                  103  38-Failure to Display Muni Rec
28                 0                 A 77           37-Expired Muni Meter
29                 0                 17 4  38-Failure to Display Muni Rec
...              ...                  ...                             ...
1059               0                 49 7          19-No Stand (bus stop)
1060               0                 77 1       20-No Parking (Com Plate)
1061               0                 01 6                  14-No Standing
1062               0                 06 7       20-No Parking (Com Plate)
1063               0                 01 6      17-No Stand (exc auth veh)
1064               1                 M 99                 40-Fire Hydrant
1065               0                 09 1                  14-No Standing
1066               0                  082                  14-No Standing
1067               0                 U 32    21-No Parking (street clean)
1068               0                 43 3  38-Failure to Display Muni Rec
1069               0                 16 6  38-Failure to Display Muni Rec
1070               0                 61 7  46B-Double Parking (Com-100Ft)
1071               0                  CCC                  14-No Standing
1072               0                 03 6   69-Failure to Disp Muni Recpt
1073               0                 G 21                 40-Fire Hydrant
1074               0                 C 32    46A-Double Parking (Non-COM)
1075               0                 J 41        20A-No Parking (Non-COM)
1076               0                 01 3  70A-Reg. Sticker Expired (NYS)
1077               0                 K 42  70A-Reg. Sticker Expired (NYS)
1078               0                 37 4           37-Expired Muni Meter
1079               0                  084   16-No Std (Com Veh) Com Plate
1080               0                 C 21          19-No Stand (bus stop)
1081               0                 14 3        20A-No Parking (Non-COM)
1082               0                 42 7    21-No Parking (street clean)
1083               0                 01 3   70-Reg. Sticker Missing (NYS)
1084               0                 01 7                    48-Bike Lane
1085               0                 D 10  84-Platform lifts in low posit
1086               0                 26 6   69-Failure to Disp Muni Recpt
1087               0                 26 6                  10-No Stopping
1088               0                 40 3  38-Failure to Display Muni Rec

      No Standing or Stopping Violation Hydrant Violation  \
0                                  None              None
1                                  None              None
2                                  None              None
3                                  None              None
4                                  None              None
5                                  None              None
6                                  None              None
7                                  None              None
8                                  None              None
9                                  None              None
10                                 None              None
11                                 None              None
12                                 None              None
13                                 None              None
14                                 None              None
15                                 None              None
16                                 None              None
17                                 None              None
18                                 None              None
19                                 None              None
20                                 None              None
21                                 None              None
22                                 None              None
23                                 None              None
24                                 None              None
25                                 None              None
26                                 None              None
27                                 None              None
28                                 None              None
29                                 None              None
...                                 ...               ...
1059                               None              None
1060                               None              None
1061                               None              None

In [41]:
from pyspark.sql import functions as f
from matplotlib import pyplot as plt 
import seaborn as sns
plt.style.use('fivethirtyeight')

import pandas as pd

samp_pdf = df_samp.toPandas()

In [45]:
samp_pdf['Violation Time']

0       0115P
1       0940P
2       1145A
3       1108A
4       0816A
5       1227P
6       0929A
7       0124P
8       0117P
9       0739P
10      0922A
11      0520P
12      0701A
13      0209P
14      0152P
15      0636A
16      1028A
17      1145A
18      0517P
19      0841A
20      0920A
21      0857A
22      0419P
23      0246P
24      0627A
25      1147A
26      0946A
27      0837A
28      1116P
29      0126P
        ...
1054    0251A
1055    1229P
1056    0903A
1057    1222P
1058    1149A
1059    0846P
1060    0417P
1061    0937A
1062    0839A
1063    0115P
1064    0913A
1065    1006P
1066    0339P
1067    1055A
1068    0100P
1069    0252P
1070    1112A
1071    1127A
1072    0840A
1073    0137A
1074    1249P
1075    0233P
1076    1255P
1077    0432P
1078    1033A
1079    0942A
1080    1128A
1081    0853A
1082    1129A
1083    0901A
Name: Violation Time, Length: 1084, dtype: object